.container {

    h4 {
        color: $color-03;
        float: center;
        font-size: $font-big;
        margin-top: 50px;
        position: relative;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        
    }
}