$align: center;
$bg-color: #ddd;
$color-01: rgb(0, 0, 0);
$color-02: #4c00ff;
$color-03: rgb(0, 4, 255);
$color-04: #1b1b1b;
$color-default: #444;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;